<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <div class="contentArea">
    <h1 class="centered">Some Error Occurred</h1>
    <p class="centered">We're working on fixing this, sorry for the inconvenience.</p></div>

<%- include('includes/end.ejs') %>