@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spartan:wght@400;500&display=swap');

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #daf0c8;
}

main {
  padding: 1rem;
  margin: auto;
}

form {
  display: inline;
}

.centered {
  text-align: center;
}

.image {
  height: 20rem;
}

.image img {
  height: 100%;
}

.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: #61b120;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
}

.main-header__nav {
  height: 100%;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: space-between;
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header__item {
  margin: 0 1rem;
  padding: 0;
}

.accountLink {margin: 0;}

.logoutLink {margin-top: 3px;}

.main-header__item i {
  margin: 0;
  font-size: 28px;
}

.main-header__item a, .main-header__item button {
  text-decoration: none;
  color: white;
  font-family: 'Spartan', sans-serif;
}

.main-header__item button {background: none;
  border: none;
  padding: none;
  font-size: 1rem;
  cursor: pointer;}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active,
.main-header__item button:hover,
.main-header__item button:active {
  color: #006370;
  font-weight: 600;
}

.mobile-nav {
  width: 30rem;
  height: 100vh;
  max-width: 90%;
  position: fixed;
  left: 0;
  top: 0;
  background: white;
  z-index: 10;
  padding: 2rem 1rem 1rem 2rem;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.mobile-nav.open {
  transform: translateX(0);
}

.mobile-nav__item-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.mobile-nav__item {
  margin: 1rem;
  padding: 0;
}

.mobile-nav__item a,
.mobile-nav__item button {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
}

.mobile-nav__item a:active,
.mobile-nav__item a:hover,
.mobile-nav__item a.active,
.mobile-nav__item button:hover,
.mobile-nav__item button.active {
  background: #00695c;
  color: white;
  border-radius: 3px;
}

h1.shopName {
  font-family: 'Spartan', sans-serif;
  color: #003b42;
  margin-top: 25.5px;
}

.logoArea {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logoArea i {
  color: #003b42;
  margin-right: 10px;
  font-size: 1.5rem;
}

#side-menu-toggle {
  border: 1px solid white;
  font: inherit;
  padding: 0.5rem;
  display: block;
  background: transparent;
  color: white;
  cursor: pointer;
}

#side-menu-toggle:focus {
  outline: none;
}

#side-menu-toggle:active,
#side-menu-toggle:hover {
  color: #ffeb3b;
  border-color: #ffeb3b;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.card {
  box-shadow: 1px 3px 10px rgba(0, 56, 63, 0.26);
  background-color: white;
  border-radius: 8px;
  border: none;
  transition: all .3s ease-out;
}

.card:hover {
  transform: scale(1.05);
}

.card__header,
.card__content {
  padding: 1rem;
}

.card__header {
  background-color:#006370;
  color: white;
  border-radius: 8px 8px 0 0;
}

.card__header h1,
.card__content h1 {
  margin: 0;
  font-family: 'Spartan', sans-serif;
  font-weight: 400;
}

.card__content h2 {
  margin: 0;
  font-family: 'Spartan', sans-serif;
}

.card__content p {
  margin: 0;
  padding-top: 5px;
  font-family: 'Poppins', sans-serif;
}

.card__image {
  width: 100%;
  height: 200px;
}

.card__image img {
  width: 320px;
  height: 200px;
  object-fit: cover;
}

.card__actions {
  padding-bottom: 1.5rem;
  text-align: center;
}

.card__actions button,
.card__actions a {
  margin: 0 0.25rem;
}

.btn {
  display: inline-block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  border: 1px solid #108696;
  color: white;
  background: #00a4b9;
  border-radius: 3px;
  cursor: pointer;
  transition: all .3s ease-out;
}

.btn:hover,
.btn:active {
  background-color: #006370;
  color: white;
}

.btn.danger {
  color: red;
  border-color: red;
}

.btn.danger:hover,
.btn.danger:active {
  background: red;
  color: white;
}

.message {font-size: .8rem;
  margin: 1rem auto;
  font-style: italic;
  max-width: 20rem;
  border: 1px solid rgb(0, 0, 110);
  background-color: rgb(215, 215, 255);
  color: rgb(0, 0, 39);
  border-radius: 5px;
  padding: 1rem;}

.error {background-color: rgb(250, 211, 211);
  color: rgb(32, 0, 0);
  border-color: red;}

@media (min-width: 768px) {
  .main-header__nav {
    display: flex;
  }

  #side-menu-toggle {
    display: none;
  }
}
